@import "../../../sass/ui/colours";
// @import "../../../sass/ui/typography";
// @import "../../../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../../../sass/ui/screens";

.edit-password{
    @include breakpoint($desktop){
        margin-right:36px;

    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        p{
            margin-top:8px;
        }
    }
    &__input-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap:12px;
        border-bottom: 1px solid $selectedBG;
        padding-bottom:18px;
        margin-bottom: 18px;;
        @include breakpoint($largeMob){
            grid-template-columns: 1fr 2fr;
        }
        @include breakpoint($tablet){
            grid-template-columns: 1fr;
        }
        @include breakpoint($desktop){
            grid-template-columns: 1fr 2fr;
        }
        &.password{
            border-bottom:0;
        }
        &.current{
            padding-top:18px;
            border-top: 1px solid $selectedBG;
        }
        input{
            width:100%;
            box-sizing: border-box;
        }
        label{
            
            p{
                font-size: 12px;
            }
        }
    }
}