@import "../../../sass/ui/colours";
@import "../../../sass/ui/typography";
// @import "../../../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "../../../sass/ui/screens";
nav.member {
    padding: 32px 0 16px 32px;
    // margin-right:16px;
    ul {
        box-shadow: $boxShadow;
        background-color: $white;
        padding: 8px 0;
        @include breakpoint($tablet){
            border-radius: 10px;

        }
    }
    li {
        margin: 0;
        list-style: none;
        a {
            padding: 8px 8px 8px 16px;
            color: $gText;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $headFont;
            display: block;
            box-sizing: content-box;
            display: flex;
            &.active {
                border-left: 3px solid $primary;
                padding-left: 11px;
            }
            &:before {
                background-position: center;
                background-repeat: no-repeat;
                margin-right: 8px;
                width: 25px;
                height: 25px;
                content: "";
                background-size: 20px;
                display: block;
            }
            &.profile:before {
                background-image: url("/images/icons/user.svg");
            }
            &.manage-subscriptions:before {
                background-image: url("/images/icons/subscribe.svg");
            }
            &.get-eventscountdown-pro:before {
                background-image: url("/images/icons/getpto.svg");
            }
            &.my-videos:before {
                background-image: url("/images/icons/video.svg");
            }
            &.logout:before {
                background-image: url("/images/icons/logout.svg");
            }
            &.edit-details:before {
                background-image: url("/images/icons/edit.svg");
            }
        }
    }
    li:hover a, li a.active {
            &.profile:before {
                background-image: url("/images/icons/user-s.svg");
            }
            &.get-eventscountdown-pro:before {
                background-image: url("/images/icons/getpto-s.svg");
            }
            &.my-videos:before {
                background-image: url("/images/icons/video-s.svg");
            }
            &.logout:before {
                background-image: url("/images/icons/logout-s.svg");
            }
            &.manage-subscriptions:before {
                background-image: url("/images/icons/subscribe-s.svg");
            }
            &.edit-details:before {
                background-image: url("/images/icons/edit-s.svg");
            }
        }
    
}
nav.menu__mobile {
    padding: 0;
    ul{
        background-color: $selectedBG;
        box-shadow:none;
    }
}
.menu__mobile {
    &__title {
        padding: 8px 12px;
        width: 100%;
        background-color: $selectedBG;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:after{
            height:18px;
            width:18px;
            content:"";
            display: block;
            background-image: url('/images/icons/chevron-p.svg');
            transition:0.25s;
        }
        &.active:after{
            transform: rotate(180deg);
            transition:0.25s;
        }
        h3{
            margin:0;
        }
    }
}
