.plans{
    &__individual{
        border: 1px solid black;
        padding:24px;
        border-radius:4px;
        &.active{
            border-width: 2px;
            button{
                background-color: grey;
            }
        }
        &.inactive{
            border-color: grey;
            p, h3, h4{
                color:grey;
            }
            button{
                background-color: grey;
            }
        }
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-gap:24px;
    }
    &__selector{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:12px;
        margin-bottom:24px;
    }
    p{
        margin-bottom:12px;
    }
}