.blobs-container {
    display: flex;
}

.blob {
    background: $primary;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    margin-left: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    background-image: url("/images/icons/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px 15px;
    &.playing {
        background-size: 10px 10px;
        animation: pulse-black 2s infinite;
        background-image: url("/images/icons/pause.svg");
    }
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.audio {
    audio {
        width: 100%;
        margin-top: 24px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 8px;
        align-items: center;
    }
    &__button {
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid $gText;
        // margin-bottom: 8px;
        border-radius: 3px;
        padding:4px 0;
        &.none {
            // justify-content: flex-end;
            padding-left:30px;
            box-sizing: border-box;
        }
        &.active {
            background-color: $black;
            color: $menuText;
            box-shadow: 0px 0px 5px $black;
        }
    }
    &__label {
        cursor: pointer;
        padding: 2px 6px;
        // border-radius: 2px;
        // border: 1px solid $black;
        &:hover {
            background-color: $grey-dark;
        }
    }
}
