header {
    width: 100%;
    background-color: $grey;

    height: 40px;
    nav {
        height:100%;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            padding: 0;
            height:100%;
            li {
                list-style: none;
            }
        }
    }
    .dropdown{
        position: relative;
        &__content{
            position: absolute;
    display: flex;
    background-color: beige;
    flex-direction: column;
    bottom: -59px;
    min-width:250px;
    li{
        background-color: bisque;
        min-width:250px;
        z-index:20;
        padding:8px;
    }
        }
    }
}

