header {
    width: 100%;
    background-color: $grey;

    height: 40px;
    nav {
        height:100%;
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
            }
        }
    }
}
