.logo{
    // padding:36px;
    p{
        font-size:18px;
        color: $offwhite;
        margin-top:8px;
    }
    h1{
        // margin-top:88px;
        font-size:66px;
        color: $offwhite;
    }
    h2{
        margin-top:24px;
        color: $offwhite;
        line-height: 28px;
        font-family: $headFont;
        font-size: 18px;
        font-weight: 300;
    }
    h3{
        font-size: 24px;
        line-height: 28px;
        color: $offwhite;
    }
    li{
        color: $offwhite;
        font-size:32px;
        font-family: $headFont;
        margin-top:24px;
    }
    img{
        width: 100%;
    height: auto;
    margin-top: 24px;
    }
}
