.video {
    background: rgb(20, 163, 212);
    background: radial-gradient(
        circle,
        rgba(20, 163, 212, 1) 27%,
        rgba(0, 85, 214, 1) 100%
    );
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:48px;
    }
}

.form {
    &__wrapper {
        padding: 24px;
        background-color: $grey;
        border: 1px solid $black;
        box-shadow: 0px 0px 15px #333333;
        h3{
            margin-top:24px;
            padding-top:8px;
            padding-bottom:8px;
            border-top: 1px solid $grey-dark;
        }
    }
    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__preview {
        width: 640px;
        height: 360px;
        background-color: $white;
        border: 1px solid $black;
        margin-bottom: 24px;
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
        span {
            font-family: $counterFont;
            position: absolute;
            bottom: 12px;
            font-size: 48px;
        }
    }
    &__countdown {
        display: flex;
        flex-direction: column;

        &__wrapper{
            display: flex;
            justify-content: space-evenly;
        }
        &__hide{
            display: flex;
        }
        &__option{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__download {
        width: 100%;
        margin-top: 24px;
    }
}

.background {
    &__wrapper {
        display: flex;
        input[type="radio"]{
            position:absolute;
            left:-99999px;
        }
        input[type="radio"]:checked + label{
            border:3px solid black;
        }
        .color__label {
            height: 75px;
            width: 75px;
            display: flex;
            margin-left:12px;
            img, div {
                width: 100%;
                border: 1px solid $black;
                object-fit: none;
            }
        }
        .colour{
            position: relative;
            display: flex;
            justify-content: center;
            &__label{
                height:75px;
                width:75px;
                border: 1px solid $black;
                margin-left:0;
        
            }
            &__picker{

                position: absolute;
                bottom: 20px;
        
            }
        }
        .disabled{
            display: flex;
            justify-content: center;
            position: relative;
            align-items: baseline;
            .signup__cta{
                position: absolute;
                max-width: 225px;
                background: white;
                display: flex;
                justify-content: center;
                margin-top: 14px;
                border: 1px solid $black;
                margin-left: 12px;
                
            }
        }
    }
}



.droparea{
    border: 3px dashed $grey-dark;
    width:100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    p{
        margin:0;
    }
}

.featuredimage{
    &__position{
        display: flex;
        justify-content: space-between;
    }
}

.feature__image{
    height: 65%;
    margin-top: 5%;
    position: absolute;
}   

.root__drop{
    width: 100%;
    padding: 24px;
    height: 100%;
}

.color__picker__wrap{
    position: relative;
    .picker{
        position: absolute;
        // bottom: -10px;
        top: 35px;
        z-index:3;
        &__arrow{
            position: relative;
            &::after{
                bottom: 100%;
                left: 24px;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(0, 0, 0, 0);
                border-bottom-color: #000000;
                border-width: 10px;
                margin-left: -10px;
            }
        }
    }
}

.swatch{
    width:49px;
    height:24px;
    background-color: white;
    border:1px solid $grey-dark;
    border-radius: 3px;
    padding:3px;
    box-sizing: border-box;
    &__area{
        height:16px;
        width:41px;
        border:1px solid $grey-dark;
        border-radius: 2px;
        box-sizing: border-box;
    }
    &__overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

.font{
    &__overlay{
        position: fixed; /* Sit on top of the page content */
         width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
       background: rgba(255,255,255,0.3);
    }
    &__selector{
        position: relative;
    }
    &__card{
        min-width: 180px;
        padding:8px;
        text-transform: capitalize;
        background-color: $white;
        cursor: pointer;
        &__title{
            border: 1px solid black;
            position: relative;
            min-width:172px;
        }
        &__child{
            border-bottom: 1px solid $grey;
            z-index: 99;
        }
        &__children{
            position: absolute;
            border: 1px solid $grey-dark;
            border-top-width: 0;
        }
    }
    &__chevron{
        position:absolute;
        top:16px;
        right: 9px;
        background-image: url('/images/icons/chevron.svg');
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        transform: rotate(180deg);
        transition: 0.25s;
        transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    
        &.active{
            transition: 0.25s;
            transform: rotate(0deg);
            transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
        }

    }
}