.video{
    background: rgb(20,163,212);
    background: radial-gradient(circle, rgba(20,163,212,1) 27%, rgba(0,85,214,1) 100%);
    .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.image__wrapper{
    width: 640px;
    height: 480px;
    background-color: white;
    border: 1px solid black;
    margin-bottom: 24px;
}
}