.video {
    background: rgb(20, 163, 212);
    background: radial-gradient(
        circle,
        rgba(20, 163, 212, 1) 27%,
        rgba(0, 85, 214, 1) 100%
    );
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 48px;
    }
}

.form {
    &__wrapper {
        padding: 24px;
        background-color: $greygreen;
        border: 1px solid $black;
        box-shadow: 0px 0px 15px #333333;
        border-radius: 7px;
        h3 {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
    &__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    &__preview {
        width: 640px;
        height: 360px;
        background-color: $white;
        border: 1px solid $black;
        margin-bottom: 8px;
        position: relative;
        display: flex;
        justify-content: center;
        overflow: hidden;
        span {
            font-family: $counterFont;
            position: absolute;
            bottom: 12px;
            font-size: 48px;
        }
    }
    &__countdown {
        display: flex;
        flex-direction: column;
        margin-left: 24px;

        &__wrapper {
            // display: flex;
            justify-content: space-evenly;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 8px;
            padding-bottom: 24px;
        }
        &__hide {
            display: flex;
        }
        &__option {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            &.font {
                grid-column: 1 / span 3;
            }
            input {
                text-align: center;
                padding: 8px;
                letter-spacing: 1px;
                width: 100%;
                color: #333333;
                font-weight: 700;
            }
            input[type="checkbox"] {
                position: absolute;
                left: -999999px;
            }
            input[type="checkbox"] + label {
                padding: 2px 6px;
                border-radius: 3px;
                cursor: pointer;
                background-color: $black;
                color: $white;
                box-shadow: 0px 0px 5px #333333;
                &:hover {
                    background-color: $grey-dark;
                }
                p {
                    margin: 0;
                }
            }
            input[type="checkbox"]:checked + label {
                border: 1px solid $black;
                background-color: inherit;
                box-shadow: none;
                color: $black;
            }
        }
    }
    &__download {
        width: 100%;
        margin-top: 24px;
        background: $black;
        outline: 0;
        color: #f5f5f5;
        border: 0;
        padding: 12px;
        border-radius: 3px;
        font-family: "Overpass", sans-serif;
        text-align: center;
        text-decoration: none;
        line-height:18px;
        &.pro{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &.pro::before{
            background-image: url('/images/icons/gold-medal.svg');
            content:"";
            display: inline-block;
            background-size: 18px;
            background-position: center;
            width:18px;
            height:18px;
            margin-right:8px;

        }
    }
}

.background {
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 8px;
        position: relative;
        input[type="radio"] {
            position: absolute;
            left: -99999px;
        }
        input[type="radio"]:checked + label {
            border: 3px solid $black;
        }
        .color__label {
            cursor: pointer;
            display: flex;
            // margin-left:12px;

            img,
            div {
                width: 100%;
                border: 1px solid $black;
                height:auto;
                // object-fit: none;
            }
        }
        .colour {
            position: relative;
            display: flex;
            justify-content: center;
            &__label {
                width: 100%;
                border: 1px solid $black;
                margin-left: 0;
                &.colourbg {
                    background-image: url("/images/backgrounds/colour.webp");
                    background-size: 60px 60px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            &__picker {
                position: absolute;
                bottom: 8px;
            }
        }
        .signup__cta {
            position: absolute;
            max-width: 333px;
            background: $white;
            display: flex;
            justify-content: center;
            border: 1px solid $black;
            right: 16px;
            top: 14px;
            padding: 6px 18px;
            box-shadow: 0px 0px 5px #333333;
        }
        .disabled {
            display: flex;
            justify-content: center;
            position: relative;
            align-items: baseline;
        }
    }
}

.droparea {
    border: 3px dashed $black;
    width: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    p {
        margin: 0;
    }
}

.featuredimage {
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid $black;
    &__position {
        display: flex;
        justify-content: space-between;
        display: none;
    }
}

.feature__image {
    height: 65%;
    margin-top: 5%;
    position: absolute;
}
.droparea {
}
.root__drop {
    background-color: $grey;
    box-shadow: inset 0 0 3px black;
    width: 100%;
    padding: 24px;
    height: 100%;
    transform: 0.2s;
    &:focus {
        outline: 0;
    }
    &.drag {
        background-color: lightgrey;
        box-shadow: inset 0 0 6px black;
        transform: 0.2s;
    }

    p {
        display: grid;
        grid-template-columns: 75px auto;
        grid-gap: 24px;
        &:before {
            background-image: url("/images/icons/upload.svg");
            width: 75px;
            height: 75px;
            // background-color: red;;
            content: "";
            display: flex;
        }
    }
}

.color__picker__wrap {
    position: relative;
    .picker {
        position: absolute;
        // bottom: -10px;
        top: 35px;
        z-index: 3;
        &__arrow {
            position: relative;
            &::after {
                bottom: 100%;
                left: 24px;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(0, 0, 0, 0);
                border-bottom-color: #000000;
                border-width: 10px;
                margin-left: -10px;
            }
        }
    }
}

.swatch {
    width: 49px;
    height: 24px;
    background-color: white;
    border: 1px solid $grey-dark;
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;
    &__area {
        height: 16px;
        width: 41px;
        border: 1px solid $grey-dark;
        border-radius: 2px;
        box-sizing: border-box;
    }
    &__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
    }
}

.font {
    &__overlay {
        position: fixed; /* Sit on top of the page content */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        background: rgba(255, 255, 255, 0.3);
    }
    &__selector {
        position: relative;
        position: relative;
        width: 100%;
        margin-top: 8px;
    }
    &__card {
        min-width: 294px;
        padding: 8px;
        text-transform: capitalize;
        background-color: $white;
        cursor: pointer;
        span {
            margin-left: 12px;
        }
        &__title {
            border: 1px solid black;
            position: relative;
            min-width: 172px;
        }
        &__child {
            border-bottom: 1px solid $grey;
            z-index: 99;
        }
        &__children {
            position: absolute;
            border: 1px solid $grey-dark;
            border-top-width: 0;
            z-index: 23;
        }
    }
    &__chevron {
        position: absolute;
        top: 8px;
        right: 9px;
        background-image: url("/images/icons/chevron.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
        width: 20px;
        height: 20px;
        transform-origin: 50% 50%;
        transform: rotate(180deg);
        transition: 0.25s;
        transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);

        &.active {
            transition: 0.25s;
            transform: rotate(0deg);
            transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
        }
    }
}

.step__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 24px;
    // margin-bottom:24px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
}

.button {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
    }
    &__explainer {
        background-color: palegoldenrod;
        padding: 16px;
        box-shadow: 0px 0px 10px #333333;
        position: relative;
        // background: #88b7d5;
        // border: 4px solid palegoldenrod;
        border-radius: 4px;

        &:after {
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: palegoldenrod;
            border-width: 15px;
            margin-left: -15px;
            top: -30px;
        }
        h5 {
            margin-bottom: 8px;
        }
        .usp {
            display: grid;
            grid-template-columns: 40px auto;
            grid-gap: 12px;
            p {
                margin-bottom: 0;
                line-height: 36px;
            }
            &:before {
                background-size: 32px;
                background-position: center;
                background-repeat: no-repeat;
                content: "";
            }
            &.sd480:before {
                background-image: url("/images/icons/480-pixels.svg");
            }
            &.free:before {
                background-image: url("/images/icons/free.svg");
            }
            &.watermark:before {
                background-image: url("/images/icons/watermark.svg");
            }
            &.professional:before {
                background-image: url("/images/icons/premium.svg");
            }
            &.hd:before {
                background-image: url("/images/icons/hd.svg");
            }
            &.nowatermark:before {
                background-image: url("/images/icons/nowatermark.svg");
            }
        }
    }
}

.status__wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.download__message {
    width: 100%;
    margin-top: 16px;
    text-align: center;
}
