@import url(https://fonts.googleapis.com/css?family=Nunito);
section {
  width: 100%;
}
section .wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  padding: 32px;
}

.hidden {
  position: absolute;
  left: -100000px;
}

.left {
  left: 0;
  right: unset;
}

.right {
  right: 0;
  left: unset;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#events, .eventsapp {
  height: 100%;
}

@font-face {
  font-family: "ds-digital";
  src: url("/fonts/ds-digib-webfont.woff2") format("woff2"), url("/fonts/ds-digib-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "gotham-bold";
  src: url("/fonts/Gotham-Bold.woff2") format("woff2"), url("/fonts/Gotham-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "librebaskerville-regular";
  src: url("/fonts/librebaskerville-regular-webfont.woff2") format("woff2"), url("/fonts/librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.ds-digital {
  font-family: "ds-digital";
}

.gotham-bold {
  font-family: "gotham-bold";
}

.librebaskerville-regular {
  font-family: "librebaskerville-regular";
}

p, label {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}

button {
  font-family: "Overpass", sans-serif;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: slateblue;
  text-decoration: underline;
}

input {
  padding: 4px 8px;
}
input:focus {
  outline: none;
}

audio:focus {
  outline: none;
}

audio:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  background: #333333;
  outline: 0;
  color: #f5f5f5;
  border: 0;
  padding: 12px;
  border-radius: 3px;
}

button:disabled,
button[disabled] {
  background: #bebebe;
  cursor: not-allowed;
}

.blobs-container {
  display: flex;
}

.blob {
  background: #333333;
  border-radius: 50%;
  box-shadow: 0 0 0 0 black;
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 16px;
  height: 20px;
  width: 20px;
  transform: scale(1);
  background-image: url("/images/icons/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 15px;
}
.blob.playing {
  background-size: 10px 10px;
  -webkit-animation: pulse-black 2s infinite;
          animation: pulse-black 2s infinite;
  background-image: url("/images/icons/pause.svg");
}

@-webkit-keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.audio audio {
  width: 100%;
  margin-top: 24px;
}
.audio__wrapper {
  display: flex;
  justify-content: space-around;
}
.audio__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}
.audio__button.none {
  justify-content: flex-end;
}
.audio__label {
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 2px;
  border: 1px solid #333333;
}
.audio__label:hover {
  background-color: #bebebe;
}
.audio__label.active {
  background-color: #333333;
  color: #ffffff;
  box-shadow: 0px 0px 5px #333333;
}

.logo p {
  font-size: 18px;
  color: #f5f5f5;
  margin-top: 8px;
}
.logo h1 {
  font-size: 66px;
  color: #f5f5f5;
}
.logo h2 {
  margin-top: 48px;
  color: #f5f5f5;
  line-height: 44px;
  font-family: "Quicksand", sans-serif;
}
.logo h3 {
  font-size: 24px;
  line-height: 28px;
  color: #f5f5f5;
}
.logo li {
  color: #f5f5f5;
  font-size: 32px;
  font-family: "Overpass", sans-serif;
  margin-top: 24px;
}
.logo img {
  width: 100%;
  height: auto;
  margin-top: 24px;
}

header {
  width: 100%;
  background-color: #333333;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
header nav {
  height: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}
header nav ul li {
  list-style: none;
  padding: 12px;
  color: #f5f5f5;
  font-family: "Overpass", sans-serif;
  font-size: 18px;
}
header nav ul li.dd {
  padding: none;
}
header nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
}
header nav ul li a:hover {
  color: inherit;
}
header nav ul li a.active {
  border-bottom: 2px solid yellow;
}
header .dropdown {
  position: relative;
  padding: 16px;
}
header .dropdown:hover .dropdown__content {
  display: flex;
}
header .dropdown__content {
  position: absolute;
  display: none;
  background-color: #333333;
  flex-direction: column;
  bottom: -100px;
  min-width: 250px;
  height: 100px;
  color: #ffffff;
}
header .dropdown__content li {
  background-color: #333333;
  min-width: 250px;
  z-index: 20;
  padding: 8px;
}

footer {
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  color: #f5f5f5;
  font-family: "Overpass", sans-serif;
}

.video {
  background: #14a3d4;
  background: radial-gradient(circle, #14a3d4 27%, #0055d6 100%);
}
.video .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
}

.form__wrapper {
  padding: 24px;
  background-color: #cfcfc4;
  border: 1px solid #333333;
  box-shadow: 0px 0px 15px #333333;
  border-radius: 7px;
}
.form__wrapper h3 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.form__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form__preview {
  width: 640px;
  height: 360px;
  background-color: #ffffff;
  border: 1px solid #333333;
  margin-bottom: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.form__preview span {
  font-family: "ds-digital";
  position: absolute;
  bottom: 12px;
  font-size: 48px;
}
.form__countdown {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.form__countdown__wrapper {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  padding-bottom: 24px;
}
.form__countdown__hide {
  display: flex;
}
.form__countdown__option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.form__countdown__option.font {
  grid-column: 1/span 3;
}
.form__countdown__option input {
  text-align: center;
  padding: 8px;
  letter-spacing: 1px;
  width: 100%;
  color: #333333;
  font-weight: 700;
}
.form__countdown__option input[type=checkbox] {
  position: absolute;
  left: -999999px;
}
.form__countdown__option input[type=checkbox] + label {
  padding: 2px 6px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #333333;
  color: #ffffff;
  box-shadow: 0px 0px 5px #333333;
}
.form__countdown__option input[type=checkbox] + label:hover {
  background-color: #bebebe;
}
.form__countdown__option input[type=checkbox] + label p {
  margin: 0;
}
.form__countdown__option input[type=checkbox]:checked + label {
  border: 1px solid #333333;
  background-color: inherit;
  box-shadow: none;
  color: #333333;
}
.form__download {
  width: 100%;
  margin-top: 24px;
  background: #333333;
  outline: 0;
  color: #f5f5f5;
  border: 0;
  padding: 12px;
  border-radius: 3px;
  font-family: "Overpass", sans-serif;
  text-align: center;
  text-decoration: none;
  line-height: 18px;
}
.form__download.pro {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__download.pro::before {
  background-image: url("/images/icons/gold-medal.svg");
  content: "";
  display: inline-block;
  background-size: 18px;
  background-position: center;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.background__wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 8px;
  position: relative;
}
.background__wrapper input[type=radio] {
  position: absolute;
  left: -99999px;
}
.background__wrapper input[type=radio]:checked + label {
  border: 3px solid #333333;
}
.background__wrapper .color__label {
  cursor: pointer;
  display: flex;
}
.background__wrapper .color__label img,
.background__wrapper .color__label div {
  width: 100%;
  border: 1px solid #333333;
  height: auto;
}
.background__wrapper .colour {
  position: relative;
  display: flex;
  justify-content: center;
}
.background__wrapper .colour__label {
  width: 100%;
  border: 1px solid #333333;
  margin-left: 0;
}
.background__wrapper .colour__label.colourbg {
  background-image: url("/images/backgrounds/colour.webp");
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.background__wrapper .colour__picker {
  position: absolute;
  bottom: 8px;
}
.background__wrapper .signup__cta {
  position: absolute;
  max-width: 333px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  border: 1px solid #333333;
  right: 16px;
  top: 14px;
  padding: 6px 18px;
  box-shadow: 0px 0px 5px #333333;
}
.background__wrapper .disabled {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: baseline;
}

.droparea {
  border: 3px dashed #333333;
  width: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}
.droparea p {
  margin: 0;
}

.featuredimage {
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #333333;
}
.featuredimage__position {
  display: flex;
  justify-content: space-between;
  display: none;
}
.featuredimage__caption {
  margin-top: 8px;
  margin-bottom: 8px;
}

.feature__image {
  height: 65%;
  margin-top: 5%;
  position: absolute;
}

.root__drop {
  background-color: #F0F0F0;
  box-shadow: inset 0 0 3px black;
  width: 100%;
  padding: 24px;
  height: 100%;
  transform: 0.2s;
}
.root__drop:focus {
  outline: 0;
}
.root__drop.drag {
  background-color: lightgrey;
  box-shadow: inset 0 0 6px black;
  transform: 0.2s;
}
.root__drop p {
  display: grid;
  grid-template-columns: 75px auto;
  grid-gap: 24px;
}
.root__drop p:before {
  background-image: url("/images/icons/upload.svg");
  width: 75px;
  height: 75px;
  content: "";
  display: flex;
}

.color__picker__wrap {
  position: relative;
}
.color__picker__wrap .picker {
  position: absolute;
  top: 35px;
  z-index: 3;
}
.color__picker__wrap .picker__arrow {
  position: relative;
}
.color__picker__wrap .picker__arrow::after {
  bottom: 100%;
  left: 24px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-bottom-color: #000000;
  border-width: 10px;
  margin-left: -10px;
}

.swatch {
  width: 49px;
  height: 24px;
  background-color: white;
  border: 1px solid #bebebe;
  border-radius: 3px;
  padding: 3px;
  box-sizing: border-box;
}
.swatch__area {
  height: 16px;
  width: 41px;
  border: 1px solid #bebebe;
  border-radius: 2px;
  box-sizing: border-box;
}
.swatch__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.font__overlay {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  background: rgba(255, 255, 255, 0.3);
}
.font__selector {
  position: relative;
  position: relative;
  width: 100%;
  margin-top: 8px;
}
.font__card {
  min-width: 294px;
  padding: 8px;
  text-transform: capitalize;
  background-color: #ffffff;
  cursor: pointer;
}
.font__card span {
  margin-left: 12px;
}
.font__card__title {
  border: 1px solid black;
  position: relative;
  min-width: 172px;
}
.font__card__child {
  border-bottom: 1px solid #F0F0F0;
  z-index: 99;
}
.font__card__children {
  position: absolute;
  border: 1px solid #bebebe;
  border-top-width: 0;
  z-index: 23;
}
.font__chevron {
  position: absolute;
  top: 8px;
  right: 9px;
  background-image: url("/images/icons/chevron.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
  transition: 0.25s;
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}
.font__chevron.active {
  transition: 0.25s;
  transform: rotate(0deg);
  transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
}

.step__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

.button__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.button__explainer {
  background-color: palegoldenrod;
  padding: 16px;
  box-shadow: 0px 0px 10px #333333;
  position: relative;
  border-radius: 4px;
}
.button__explainer:after {
  left: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: palegoldenrod;
  border-width: 15px;
  margin-left: -15px;
  top: -30px;
}
.button__explainer h5 {
  margin-bottom: 8px;
}
.button__explainer .usp {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 12px;
}
.button__explainer .usp p {
  margin-bottom: 0;
  line-height: 36px;
}
.button__explainer .usp:before {
  background-size: 32px;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}
.button__explainer .usp.sd480:before {
  background-image: url("/images/icons/480-pixels.svg");
}
.button__explainer .usp.free:before {
  background-image: url("/images/icons/free.svg");
}
.button__explainer .usp.watermark:before {
  background-image: url("/images/icons/watermark.svg");
}
.button__explainer .usp.professional:before {
  background-image: url("/images/icons/premium.svg");
}
.button__explainer .usp.hd:before {
  background-image: url("/images/icons/hd.svg");
}
.button__explainer .usp.nowatermark:before {
  background-image: url("/images/icons/nowatermark.svg");
}

.status__wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
}

.download__message {
  width: 100%;
  margin-top: 16px;
  text-align: center;
}

.howto .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bar {
  padding: 12px;
  position: relative;
  height: 20px;
  width: 100%;
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.03), inset 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.03), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* 
This is the actual bar with stripes
*/
.bar span {
  position: absolute;
  top: 5px;
  left: 6px;
  display: inline-block;
  height: 15px;
  min-width: 15px;
  width: calc(100% - 12px);
  border: 1px solid #ff9a1a;
  border-bottom-color: #ff6201;
  background-color: #d3d3d3;
  border-radius: 20px;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-image: linear-gradient(-45deg, #ff9a1a 25%, transparent 25%, transparent 50%, #ff9a1a 50%, #ff9a1a 75%, transparent 75%, transparent);
  -ms-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
  border-radius: 20px;
  overflow: hidden;
  -ms-box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 10px 0 rgba(255, 255, 255, 0.2);
}

/*
Animate the stripes
*/
@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
.signin {
  /* For IE Browsers*/
}
.signin__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 100vh;
}
.signin__wrapper h3 {
  margin-top: 24px;
  margin-bottom: 8px;
}
.signin__reasons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid #bebebe;
  padding-right: 24px;
  max-width: 360px;
}
.signin__form {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}
.signin__form p {
  margin-top: 8px;
  text-align: center;
  margin-bottom: 0;
}
.signin__form > * {
  margin-bottom: 8px;
}
.signin__form > * :last-child {
  margin-bottom: 0;
}
.signin__form h2 {
  text-align: center;
  margin-bottom: 16px;
}
.signin__form button {
  margin-top: 16px;
  margin-bottom: 0;
}
.signin__modal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(255, 255, 255, 0.85);
  padding: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  box-shadow: 0px 0px 15px #333333;
}
.signin img {
  width: 100%;
}
.signin label {
  position: relative;
  display: inline-block;
}
.signin span {
  padding: 10px;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 3px;
  transition: 0.2s;
  transition-timing-function: ease;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity: 0.5;
}
.signin input {
  padding: 10px;
  width: 100%;
}
.signin input:not(:-moz-placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-70%) translateX(1px);
  background: #ffffff;
  padding: 0 4px;
  border-radius: 5px;
}
.signin input:not(:-ms-input-placeholder) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-70%) translateX(1px);
  background: #ffffff;
  padding: 0 4px;
  border-radius: 5px;
}
.signin input:focus + span, .signin input:not(:placeholder-shown) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-70%) translateX(1px);
  background: #ffffff;
  padding: 0 4px;
  border-radius: 5px;
}
.signin input:focus + span, .signin input:not(:-ms-input-placeholder) + span {
  opacity: 1;
  transform: scale(0.75) translateY(-70%) translateX(-5px);
  background: red;
  padding: 2px;
}

.dashboard {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.dashboard img {
  width: 100%;
}
.dashboard__wrapper {
  display: grid;
  grid-template-columns: 320px auto;
  grid-gap: 36px;
}

.guest__payment__overlay {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-overflow-scrolling: touch;
}
.guest__payment__modal {
  background-color: #fefefe;
  margin: 25% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
}
.guest__payment__card {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  border: 2px solid black;
}

.guides__wrapper {
  padding: 24px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.guides__wrapper h1 {
  margin: 24px 0;
}

.siteplaceholder__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}
.siteplaceholder__overlay .loader {
  color: #333333;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%, 95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%, 59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
