$black: #333333;

$white: #ffffff;

$offwhite: #f5f5f5;

$grey: #F0F0F0;

$grey-dark: #bebebe;

$menuBg: $grey;

$menuText: #a5b7c6;

$greygreen: #cfcfc4;

$errorRed: #F32013;

$staticBG:#eef1f5;

$selected: #72c2a4;

$selectedBG: #fafefd;

// $gText: #373a3a;
$gText: #254b4a;

$boxShadow: 0px 2px 6px rgb(0,0,0,0.36);;

$primary: #800080;
$primaryDisabled: rgba(128, 0, 128, 0.3);

$primaryText: #f5f0f4;;