@font-face {
    font-family: "ds-digital";
    src: url("/fonts/ds-digib-webfont.woff2") format("woff2"),
        url("/fonts/ds-digib-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gotham-bold";
    src: url("/fonts/Gotham-Bold.woff2") format("woff2"),
        url("/fonts/Gotham-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "librebaskerville-regular";
    src: url("/fonts/librebaskerville-regular-webfont.woff2") format("woff2"),
        url("/fonts/librebaskerville-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

$counterFont: "ds-digital";
.ds-digital {
    font-family: "ds-digital";
}
.gotham-bold {
    font-family: "gotham-bold";
}
.librebaskerville-regular {
    font-family: "librebaskerville-regular";
}

$headFont : 'Overpass', sans-serif;

p, label{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family: $headFont;
    font-weight: 700;
}

h3{
    font-size: 18px;
    font-weight: 700;
}