@font-face {
    font-family: 'digitaldream-webfont';
    src: url('/fonts/digitaldream-webfont.woff2') format('woff2'),
         url('/fonts/digitaldream-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    // src: url('../../../fonts/Orkney\ Bold.woff')

}

$counterFont : 'digitaldream-webfont';