.siteloading__overlay{
    position: fixed;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteloading__modal{
    background:white;
    border: 1px solid lightgrey;
    padding:48px;
    animation: createBox 3s;
    color: lightgrey;
}

@keyframes createBox {
    from {
      transform: scale(0.75);
    }
    to {
      transform: scale(1);
    }
  }